{% extends 'base.html' %}

{% block title %}
    Наши правила
{% endblock %}

{% block content %}
    <h1 class="mb-3">Наши правила</h1>

    <ul class="list-group">
        <li class="list-group-item">Все записи должны быть написаны на русском языке.</li>
        <li class="list-group-item">Плагиат запрещен.</li>
        <li class="list-group-item">Не используйте ненормативную лексику.</li>
        <li class="list-group-item">Не публикуйте рекламу.</li>
        <li class="list-group-item">Не публикуйте материалы, защищенные авторским правом без согласия авторов.</li>
    </ul>
{% endblock %}

